<div style="display: flex;">
  <div style="flex: 1; margin-right: -800px !important;">
    <app-employee-list [employees]="currentEmployees"
                       [more]="previousEmployees"
                       (add)="onAddClick()"
                       (edit)="onEdit($event)"
                       (delete)="onDelete($event)"
                       (formSubmit)="splitEmployees()">
    </app-employee-list>
  </div>
  <div style="flex: 1; margin-left: 10px;">
    <app-employee-form *ngIf="isFormVisible"
                       [employee]="selectedEmployee"
                       [isEditMode]="isEditMode"
                       (formSubmit)="onFormSubmit($event)"
                       (formCancel)="onFormCancel()">
    </app-employee-form>
  </div>
</div>
